#addSpot {
  position: absolute;
  bottom: 30px;
  right: 30px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 50px;
  box-shadow: 5px 5px 5px rgba(100, 100, 100, .7);
  cursor: pointer;
}

#addSpot:after {
  content: "+";
  font-size: 5em;
  font-weight: bold;
  display: block;
  width: 75px;
  height: 80px;
  text-align: center;
}

#addSpot:hover {
  background: #eee;
}
