.spot-form {
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 45px;
  box-shadow: 0 0 5px rgba(100, 100, 100, .7);
}


form label {
  display: block;
  margin: 1.5rem 0 .5rem 0;
}

form input:not([type=submit]):not([type=checkbox]),
form textarea {
  display: block;
  margin: .2em 0 1rem 0;
  border: 1px solid #888;
  border-radius: 5px;
  padding: .5rem 1rem;
  font: inherit;
  color: inherit;
  width: 80%;
}
form input[type=checkbox] {
  margin: 1rem 0;
}
